.navbar{
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center ;
}

.navbar .logo{
    width: 150px;
}

.navbar-menu{
    display: flex;
    list-style-type: none;
    gap: 20px;
    color: #49557e;
    font-size: 18px;
}

.navbar-right{
    display: flex;
    gap: 40px;
align-items: center;
}

.navbar button{
    background-color: transparent;
    font-size: 16px;
    color: #49557e;
    padding: 10px 30px;
    border: 1px solid tomato;
    border-radius: 50px;
    transition: 0.3s;
}

.navbar button:hover{
    background-color: tomato;
    cursor: pointer;
}

.navbar .active{
    padding-bottom: 2px;
    border-bottom: 2px solid #49557e;
}

.navbar li{
    cursor: pointer;
}

.navbar-search-icon{
    position: relative;
}

.navbar-search-icon .dot{
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    background-color: tomato;
    border-radius: 5px  ;
    top:-8px;
    right: -8px;
}


.navbar-profile{
    position: relative;
}

.nav-profile-dropdown{
    position: absolute;
    display: none;
    right: 0;
    z-index: 1;
}

.navbar-profile:hover .nav-profile-dropdown{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #fff2ef;
    border-radius: 4px;
    padding: 12px 25px;
    border: 1px solid tomato;
    outline: 2px solid;
    list-style-type: none;

}

.nav-profile-dropdown li{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.nav-profile-dropdown img{
    width: 20px;
}

.nav-profile-dropdown li:hover{
    color: tomato;
}